/* app/assets/stylesheets/navbar.scss */
.navbar-lewagon {
  justify-content: space-between;
  background: rgb(10, 10, 10);
  display: flex;
  -webkit-box-align: end;
  padding: 0;
  margin: 0;
  text-align: right;
  list-style: none outside;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
